const userConfig =
{
    watcher:
    [
        {
            name: "Clock",
            url: "https://www.time.gov/",
            xPath: '//*[@id="clock-utc"]', // xpath of element to compare
            selector: null, // you can also use a query selector
            javascript: true, // if you want to enable or disable javascript
            mailTo: null, // if you want to use a different email addr for this watcher
            minValue: null, // if you need a value to check certain things
            armCpu: null // if you run on ARM Cpus you have to enable this mode
        }
    ],
    cookies: 
    [
        {
            name: null,
            value: null,
            domain: null,
            path: null,
        }
    ],
    mail:
    {
        host: "smtp.gmail.com",
        user: "USERNAME",
        pass: "PASS",
        from: "websiteChangeListener FROMADDR",
        to: null
    },
    slack:
    {
        webhook: null,
    },
    telegram:
    {
        botToken: null,
        botChatId: null,
    },
    tor:
    {
        use: true,
        port: 9050,
        controlPort: 9051,
        host: '...........',
        controlPW: '...........'
    }
};

module.exports = userConfig;
