const userConfig =
{
    watcher:
    [
        {
            name: "Clock",
            url: "https://www.time.gov/",
            xPath: '//*[@id="clock-utc"]', // xpath of element to compare
            selector: null, // you can also use a query selector
            javascript: true, //if you want to enable or disable javascript
            mailTo: null //if you want to use a different email addr for this watcher
        }
    ],
	mail:
    {
        host: "smtp.gmail.com",
        user: "USERNAME",
        pass: "PASS",
        from: "websiteChangeListener FROMADDR",
        to: "TOADDR"
    }
};

module.exports = userConfig;